.shadow-container {


    background-color: rgba(0, 0, 0, 0.466) !important;
    width: 100% !important;
    height: 122% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.cart-menu {

    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    top: 0;
    height: 100%;
    width: 75%;
    position: absolute;
    z-index: 8;
    overflow-y: scroll;
    padding: 10px;

}

@media (min-width:768px) {
    .cart-menu {
        width: 30%;
       
    }
}

.close-btn {
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
}

.cart-header {
    letter-spacing: 0.90px;
}

.cart-menu>* {
    padding: 10px;
}

.prd-descr {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.prd-descr .prd-qty {
    width: 60px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.242);
    font-size: small;
    color: rgba(38, 37, 37, 0.782)
}

.prd-descr .prd-price {
    font-size: small;
    font-weight: normal;

}