.title {
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bolder;
  font-style: italic;
  text-align: right;
  padding-right: 20px;
}

.homepage-cover{
  margin-bottom: 5px;
}

.homepage-cover img{
    height: 85vh;
    object-fit: cover;
}

.homepage-cover-text {  
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px;
  padding-right: 30px;
 
  
  & > * {
    min-width: 250px;
    display: flex;
    justify-content: end;
  }

}

.homepage-cover-text--title{
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;

}
.homepage-cover-text--descr{
  margin: 0;
  font-family: sans-serif;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;
}

.main-cat-box {
  background-image: url('https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw7063ff18/categorytiles_iwp/originals-brand-campaign-gender-nav-kids-hp.jpg');
  background-color: blue;
  background-size: 100%;
  height: 200px;
  margin-bottom: 12px;

  width: 95% !important;
  display: flex;
  justify-content: center;

  &:nth-child(2) {
    background-image: url('https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dwd834aff2/categorytiles_iwp/originals-brand-campaign-gender-nav-women-hp.jpg');
  }


  &:nth-child(3) {
    background-image: url('https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw8c0015a7/categorytiles_iwp/originals-brand-campaign-gender-nav-men-hp.jpg');

  }

}



.main-cat-btn {
  bottom: 20px;
  width: 60%;
  height: 60px;
  padding: 14px;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;

  & span {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bolder;
    color: black;
    letter-spacing: 2px;
    font-family: "AdihausDIN", sans-serif;
  }


  & img {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: scale(-1);
  }

}


.experience-region {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  /* background-color: red; */
  padding-inline: 20px;
  justify-content: flex-end;
  
}

.experience-region .box {
  width: 95px;
  font-size: 14px;
  height: 45px;
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid rgba(135, 131, 131, 0.39);
  
}

/* desktop */
@media (min-width: 576px) {



  .experience-region {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  
    justify-content: center;
    margin-inline: auto;
    width: 100%;
  }


  .experience-region .box {
    width: 110px;
    font-size: 13px;
    padding-inline: 15px;
    height: 45px;
    text-transform: uppercase;
    margin: 5px;
    border: 1px solid rgba(135, 131, 131, 0.39);
  }

}





.swiper-btn-next,
.swiper-btn-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url('https://www.adidas.com.eg/on/demandware.static/Sites-adidas-EG-Site/-/ar_EG/v1698293094420/images/slider-next.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;

  z-index: 2;
  top: calc(50% - 50px);
  display: none;

  &.swiper-btn-prev {
    transform: rotate(180deg);
    left: 10px;
  }


  &.swiper-btn-next {
    right: 10px;
  }




}


.product-list {
  position: relative;

}

.swiper {
  padding-inline: 15px !important;
  padding-bottom: 30px !important;
}

.swiper-pagination-bullet {


  background-color: rgb(0, 0, 0) !important;
  opacity: 0.5 !important;
  width: 20px !important;
  height: 1px !important;
  border-radius: 0px !important;

}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 5px !important;
}